.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
}

.chart {
  display: flex;
  width: 80%;
  margin: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-input-container {
  display: flex;
  flex-direction: column;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;

  width: 50%;
  margin: auto;  
}

.label-and-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.filter-button {
  display: flex;
  justify-content: center;
}